## CLEANING THE DATASETS

In [79]:
#importing libraries and datasets required
import pandas as pd

In [88]:
df = pd.read_csv("../../data/raw/foodmandu_Restaurants_food_details.csv")

In [94]:
df.head()

,Restaurant_name,Restaurant_url,Restaurant_location,Restaurant_minimum_order,Restaurant_additional_service_charge,Restaurant_additional_VAT,Restaurant_categories_name,Restaurant_categories_food_item_ingredient,Restaurant_categories_food_item_price
0,Fire And Ice Pizzeria,https://foodmandu.com/Restaurant/Details/269,Thamel,Rs. 500.00,10 %,Soup,Soup,Cream of pumpkin soup with focaccia bread.,445.00
1,Fire And Ice Pizzeria,https://foodmandu.com/Restaurant/Details/269,Thamel,Rs. 500.00,10 %,Soup,Soup,Traditional minestrone soup served with focacc...,460.00
2,Fire And Ice Pizzeria,https://foodmandu.com/Restaurant/Details/269,Thamel,Rs. 500.00,10 %,Soup,Soup,Traditional Italian cream of tomato soup with ...,445.00
3,Fire And Ice Pizzeria,https://foodmandu.com/Restaurant/Details/269,Thamel,Rs. 500.00,10 %,Soup,Organic Salad,"Mixed lettuce with boiled eggs, homemade dress...",380.00
4,Fire And Ice Pizzeria,https://foodmandu.com/Restaurant/Details/269,Thamel,Rs. 500.00,10 %,Soup,Organic Salad,"Mixed lettuce with a boiled egg, homemade dres...",585.00

In [95]:
df.tail()

,Restaurant_name,Restaurant_url,Restaurant_location,Restaurant_minimum_order,Restaurant_additional_service_charge,Restaurant_additional_VAT,Restaurant_categories_name,Restaurant_categories_food_item_ingredient,Restaurant_categories_food_item_price
1369,Sapporo Japanese Restaurant,https://foodmandu.com/Restaurant/Details/504,Baluwatar,Rs. 500.00,10 %,( 8 Pieces ),Beverages,Unknown,505.75
1370,Sapporo Japanese Restaurant,https://foodmandu.com/Restaurant/Details/504,Baluwatar,Rs. 500.00,10 %,( 8 Pieces ),Beverages,Unknown,335.75
1371,Sapporo Japanese Restaurant,https://foodmandu.com/Restaurant/Details/504,Baluwatar,Rs. 500.00,10 %,( 8 Pieces ),Beverages,Unknown,505.75
1372,Sapporo Japanese Restaurant,https://foodmandu.com/Restaurant/Details/504,Baluwatar,Rs. 500.00,10 %,( 8 Pieces ),Beverages,Unknown,335.75
1373,Sapporo Japanese Restaurant,https://foodmandu.com/Restaurant/Details/504,Baluwatar,Rs. 500.00,10 %,( 8 Pieces ),Beverages,Unknown,505.75

In [90]:
df.isna().sum()

Restaurant_name                                 0
Restaurant_url                                  0
Restaurant_location                            68
Restaurant_minimum_order                        1
Restaurant_additional_service_charge          700
Restaurant_additional_VAT                       1
Restaurant_categories_name                      1
Restaurant_categories_food_item_ingredient    743
Restaurant_categories_food_item_price           1
dtype: int64

In [91]:
df["Restaurant_location"].fillna("Unknown", inplace = True)
df["Restaurant_categories_food_item_ingredient"].fillna("Unknown", inplace = True)

In [92]:
df.dropna(inplace=True)

In [93]:
df.isna().sum()

Restaurant_name                               0
Restaurant_url                                0
Restaurant_location                           0
Restaurant_minimum_order                      0
Restaurant_additional_service_charge          0
Restaurant_additional_VAT                     0
Restaurant_categories_name                    0
Restaurant_categories_food_item_ingredient    0
Restaurant_categories_food_item_price         0
dtype: int64

In [83]:
print(df.dtypes)

Restaurant_name                               object
Restaurant_url                                object
Restaurant_location                           object
Restaurant_minimum_order                      object
Restaurant_additional_service_charge          object
Restaurant_additional_VAT                     object
Restaurant_categories_name                    object
Restaurant_categories_food_item_ingredient    object
Restaurant_categories_food_item_price         object
dtype: object

In [96]:
df["Restaurant_name"] = df["Restaurant_name"].astype(str)
df["Restaurant_url"] = df["Restaurant_url"].astype(str)
df["Restaurant_location"] = df["Restaurant_location"].astype(str)
df["Restaurant_categories_name"] = df["Restaurant_categories_name"].astype(str)
df["Restaurant_categories_food_item_ingredient"] = df["Restaurant_categories_food_item_ingredient"].astype(str)

In [97]:
df.isna().sum()

Restaurant_name                               0
Restaurant_url                                0
Restaurant_location                           0
Restaurant_minimum_order                      0
Restaurant_additional_service_charge          0
Restaurant_additional_VAT                     0
Restaurant_categories_name                    0
Restaurant_categories_food_item_ingredient    0
Restaurant_categories_food_item_price         0
dtype: int64

In [98]:
df["Restaurant_minimum_order"] = df["Restaurant_minimum_order"].str.split(' ').str[1].str.split('.').str[0].astype(int)

In [100]:
df["Restaurant_categories_food_item_price"] = df["Restaurant_categories_food_item_price"].str.replace(',', '').astype(float)

In [102]:
df["Restaurant_additional_service_charge"] = df["Restaurant_additional_service_charge"].str.replace('%', '').astype(float)

In [ ]:
df.to_csv("../../data/processed/dataset.csv", index=False)

: